{% extends 'base/base.html'%}
{% block content %}

{% if object_list %}

<table class="table table-bordered">
    <thead>
    <tr>
        <td>#</td>
        <td>Task Name</td>
        <td>Date of delivery</td>
        <td>Description</td>
        <td>In Charge Name</td>
        <td>Options</td>
    </tr>
    </thead>
    <tbody>

    {% for task in object_list %}
    <tr>
        <td>{{ task.id }}</td>
        <td>{{ task.name }}</td>
        <td>{{ task.date_of_delivery }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.inCharge.inChargeName }}</td>
        <td>
            <a class="btn btn-success" href="{% url 'task:task_update' task.id %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'task:task_delete' task.id %}">Delete</a>
        </td>
    </tr>
    {% endfor%}
    </tbody>
</table>
<a class="btn btn-primary float-right" href="{% url 'task:task_create' %}"
   style="font-size: 30px;">+</a>
{% else %}
<h1>No task registered</h1>
{% endif %}

<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; First</a>
        </li>
        <li class="page-item">
            {% if page_obj.has_previous %}
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
        </li>
        {% for pg in page_obj.paginator.page_range %}
        {% if page_obj.number == pg %}
        <li>
            <a class="page-link" href="?page={{pg}}" class="btn btn-default">{{pg}}</a>
        </li>
        {% else %}
        <li>
            <a class="page-link" href="?page={{pg}}" class="btn">{{pg}}</a>
        </li>
        {% endif %}
        {% endfor %}
        <li class="page-item">
            {% if page_obj.has_next %}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        </li>

    </ul>
</nav>

{% endblock %}