{% extends 'base/base.html' %}

{% block title %}
Pets
{% endblock%}

{% block navbar %}
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}

    <div class="row justify-content-center">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Username</label>
                <input class="form-control" type="text" name="username">
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" name="password">
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <a href="{% url 'password_reset' %}">I forgot my password</a>
                <input class="btn btn-primary" type="submit" value="Enterokay">
            </div>
        </div>
    </div>
</form>

{{ form.errors }}
{% endblock %}